.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}



.midSide {
    grid-column: 2 / 3;
    height: 100%;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;

}

.rightSide {
    grid-column: 3 / 4;
}
.filterCard{
    width: 100%;
}

.leftSide{
    grid-column: 1 / 2;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start  ;
    align-items: normal;
}
    

