.container{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}


.leftSide {
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}



.midSide {
    grid-column: 2 / 3;
    height: 100%;
    margin-right: 2%;
    margin-left: 2%;

}

.rightSide {
    grid-column: 3 / 4;
}
.filterGroup{
    margin-top: 20px;
    height: 45%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

