.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.5rem;
  position: fixed;
  top: 10%;
  max-height: calc(90vh - 4rem);
  overflow-y: auto;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.shopping-cart-container {
  position: fixed;
  bottom: 0;
  right: 0;
}


.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.item button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.item button:hover {
  background-color: #555;
}

.total {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: #d32f2f;
}

.container:hover {
    border-color: #cbd5e0;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.9);
}

.container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #8b8b8b;
}

.container::-webkit-scrollbar-thumb:active {
  background-color: #4c4c4c;
}

.container::-webkit-scrollbar-corner {
  background-color: #f5f5f5;
}
