.container {
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #ff6633;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.searchBar{
    height: 50%;
    width: 25%;
}

.summary {
    display: inline-flex;
    color: white;
}

.summaryItem {
    display: inline-flex;
    margin-left: 55px;
    margin-right: 5px;
    font-weight: 550;
    font-size: 18px;
}